/.htaccess
/_scripts
/package.json
/package-lock.json
/wp-config.php

/wp-content/plugins/*
!/wp-content/plugins/index.php
!/wp-content/plugins/hello.php

/wp-content/themes/*
!/wp-content/themes/twentyeleven
!/wp-content/themes/twentyfifteen
!/wp-content/themes/twentyfourteen
!/wp-content/themes/twentynineteen
!/wp-content/themes/twentyseventeen
!/wp-content/themes/twentysixteen
!/wp-content/themes/twentyten
!/wp-content/themes/twentythirteen
!/wp-content/themes/twentytwelve
!/wp-content/themes/twentytwenty
!/wp-content/themes/twentytwentyone
!/wp-content/themes/index.php

/wp-content/plugins_symlinks
/wp-content/themes_symlinks
